<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaBoard">

  <select id="selectQnaBoard" resultType="map">
	 SELECT * FROM QNA ORDER BY QACODE DESC   
	</select>
	
	<select id="selectQnaCount" resultType="_int">
	  select count(*) from qna
	</select>
  
  
</mapper>
