<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="panier">

   <insert id="insertPanier" parameterType="panier">
      INSERT INTO panier VALUES (seq_panierCODE.nextval, #{cId}, #{pCode}, sysdate, #{panierAmount})
   </insert> 
	
	<delete id="deletePanier" parameterType="Panier">
		delete from panier where paniercode = #{panierCode}
	</delete>
	
	<select id="selectPanierCount" resultType="_int">
	 select count(*) from panier where panierCode=#{panierCode}
	</select>
	<select id="selectPanierList" resultType="map" parameterType="_int">
		select * from panier join saleboard using(pcode) join saleboardfile using(pcode) where panierCode = #{panierCode} and attachflag = 1
	</select>
	
</mapper>