<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!-- 자동으로 카멜케이스 규칙으로 변환 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	


	<typeAliases>

		 <typeAlias type="com.kh.dduck.review.model.vo.Review" alias="review"/>
		  <typeAlias type="com.kh.dduck.adminboard.model.vo.SaleBoard" alias="saleBoard"/>
		 <typeAlias type="com.kh.dduck.panier.model.vo.Panier" alias="panier"/>
<!-- 		<typeAlias type="com.kh.spring.common.ArrayTypeHandler" alias="arrType"/> -->
		<typeAlias type="com.kh.dduck.client.model.vo.Client" alias="client" />
		<typeAlias type="com.kh.dduck.qna.model.vo.QnaComment" alias="qnacomment" />
	</typeAliases>

	
</configuration>
