<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		 <typeAlias type="com.kh.dduck.review.model.vo.Review" alias="review"/>
<!-- 		<typeAlias type="com.kh.spring.common.ArrayTypeHandler" alias="arrType"/> -->
<!-- 		<typeAlias type="com.kh.spring.demo.model.vo.Member" alias="member"/> -->
	</typeAliases>
</configuration>
