*{
	font-family: 'Noto Sans KR', sans-serif;
}
table-rowpre{
    display: block;
    font-family: monospace;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.centerset{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
/* ----- header부분 ----- */
#listcenter li{
    text-align: center;
    margin: 0 auto;
}
.headerloginsetting{
    margin-top: -50px;

}
#flipkart-navbar {
    background-color: rgb(16, 16, 16);
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
    padding-right: 50px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}


.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}


.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}


.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: black;
}
.jumbotron{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.wellsize{
    width: 290px !important;
}

/* ----- 왼쪽광고 -----*/
.reftbenner{
    float: left;
    margin-top: 0px;
    margin-right: 0;
}
/* ----- 오른쪽광고 -----*/
.right-box{
    float : right;
    position: relative;
    margin-top: px;
    clear : 200px;
}
.wellsize{
    position: absolute;
}
/* ----- 공지사항 -----*/
.UPFILEdownline{
	padding-top : 5px;
}
.noticeNull15px{
	height : 15px;
}
.downfontsize{
	font-size : 13px !important;
}
.mainlist{
    font-size: 18px;
    margin: 0 auto;
    width: 1024px;
    text-align: center;
}
.table-list-search{
    width: 900px;
    margin-left: -20px;
}
.noticeTrHeight{
    height: 50px;
}
.table-list-search>thead>tr>th{
    text-align: center;
}
.notice-table-1{
    width: 50px;
}
.notice-table-2{
    width: 330px;
}
.notice-table-3{
    width: 50px;
}
.notice-table-4{
    width: 70px;
}
.notice-table-5{
    width: 50px;
}
.notice-table-6{
    width: 50px;
}
.col-md-3 {
    margin-left: 660px !important;
    margin: 0 auto;
    margin-bottom: 50px;
}
div.mainlist div.container {
    margin: 0 auto;
}
div.mainlist div.container div.row {
    display: inline-block;
}
.row {
    margin:0;
}
div.row div.sidenav {
    margin-left:0 1%; 
}
div.sidenav img {
    display: block;
}
div.col-md-9 {
    width:100%;
}

/* ----- QNA -----*/
.qnaHover:hover {
	background-color: rgb(247, 247, 247);
	font-size:20px
}
.qnaHover {

	font-size:20px
}
.commentTextArea{
	width : 100%;
	height : 20%;
	resize : none;
	border : 0;
}
.textareaComment{
	width : 100%;
	height : 20%;
	resize : none;
	overflow: auto;
	border-color: rgb(230, 230, 230) ;
}
.qnaCNull{
	height : 30px;
}
.qna-body{
    width: 1024px;
    margin: 0 auto;
    font-family:lato,sans-serif;
    text-align: center;
}
.container{
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px
}
h2{
    font-size:36px;
    margin:20px 0;
    
}
small{
    font-size:.5em
}
.responsive-table>li{
    border-radius:3px;
    padding:18px 30px;
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
    text-align : center;
}
.table-header{
    background-color:rgb(224, 224, 224);
    font-size:20px;
    text-transform:uppercase;
    letter-spacing:.03em;
    color: #9d9d9d;
}
.table-row{
    background-color:#fff;
    box-shadow:0 0 9px 0 rgba(0,0,0,.1)}
.col-1{
    flex-basis:10%;
}
.col-2{
    flex-basis:20%;
}
.col-3{
    flex-basis:45%;
}
.col-4{
    flex-basis:15%;
}
.col-5{
	flex-basis:10%;
}
@media all and (max-width:767px){
.table-header{
    display:none
}
.responsive-table>li{
    display:block
}
.col{
    flex-basis:100%;
    display:flex;
    padding:10px 0
}
.col:before{
    color:#6C7A89;
    padding-right:10px;
    content:attr(data-label);
    flex-basis:50%;
    text-align:right
}
}
.btn {
    display: inline-block;
    padding: 9px 12px;
    padding-top: 7px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #d1dade;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: none !important;
    border: none;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.12s linear 0s !important;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
    .btn-cons {
    margin-right: 5px;
    min-width: 120px;
    margin-bottom: 8px;
}
    .btn-white {
    color: #5e5e5e;
    background-color: #fff;
    border: 1px solid #e5e9ec;
}
.qna-writer-button{
    margin-top: -50px;
    margin-right: -850px;
    width : 100%;
}
.qnawritebutton{
	float : right;
}
.nullLine{
	height : 30px;
}

/* ----- writerform -----*/
.writerform{
    width: 1024px;
}
.qna-form-header{
    height: 50px;
    font: bold;
}
.qna-form-text{
    margin-left: 20px;
    font-size : 24px;
}
.form-control{
    border: 0;
    resize: none;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.qna-inputfile{
    margin-left: -350px;
}


/* ----- nqa view -----*/
.headline2{
    font-size: 30px;
    padding-top: 5px;
}
.well-sm{
    border-top-width: 2px;
    border-bottom-width: 3px;
    border-left-width: 2px;
    border-right-width: 2px;
}

/* 검색 */
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
	
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}